#committee-members {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#committee .bio {
    display: none;
}

#committee .member {
    background-color: var(--light-light-purple);
    margin: 1.5rem;
    width: 230px;
    height: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#committee .member h3 {
    color: #000;
}

#committee .member img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
}