#contact-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		background-color: var(--font-purple);
		color: white;
		border: none;
		border-radius: 5px;
		padding: 0.75rem;
		font-size: 1rem;
	}

	#thanks {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2rem 1rem;

		button {
			margin: 2rem 0;
		}
	}
}

@media (max-width: 790px) {
	#contact-page #contact-form {
		flex-direction: column;
		margin: 2rem 0 2rem 0;

		> div {
			margin: 0 0 0 0;
		}
	}
}
