
.page-header {
    background-color: var(--light-purple);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 125px;
    margin-top: 115px;
    overflow: hidden;

    .header-text {
        font-weight: 400;
        text-transform: capitalize;
        color: #fff;
    }
}

@media (max-width:790px) {
    .page-header {
        margin-top: 0;
    }
    #page-header h1 {
        font-size: 2rem;
    }
}
