/****BBU****/

/*hide menu and mobile responsively*/
	

@media handheld, only screen and (min-width: 472px) {
	.bbu #responsive-menu-pro-container{
		display: none!important}
}
@media handheld, only screen and (max-width: 471px) {
	.box {
		display: none!important}
	}



button#responsive-menu-pro-button, #responsive-menu-pro-container {
	display: none;
	-webkit-text-size-adjust: 100%;
}
#responsive-menu-pro-container {
	z-index: 99998;
}
@media screen and (max-width:471px) {
	/**#responsive-menu-pro-container {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		padding-bottom: 5px;
		margin-bottom: -5px;
		outline: 1px solid transparent;
		overflow-y: auto;
		overflow-x: hidden;
	}**/
	.mobile-box #responsive-menu-pro-container .responsive-menu-pro-search-box { 
		width: 100%;
		padding: 0 2%;
		border-radius: 2px;
		height: 50px;
		-webkit-appearance: none;
	}
	.mobile-box #responsive-menu-pro-container.push-left, #responsive-menu-pro-container.slide-left {
		transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
	}
	.mobile-box .responsive-menu-pro-open #responsive-menu-pro-container.push-left, .responsive-menu-pro-open #responsive-menu-pro-container.slide-left {
		transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
	}
	.mobile-box #responsive-menu-pro-container.push-top, #responsive-menu-pro-container.slide-top {
		transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
	}
	.mobile-box .responsive-menu-pro-open #responsive-menu-pro-container.push-top, .responsive-menu-pro-open #responsive-menu-pro-container.slide-top {
		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	}
	.mobile-box #responsive-menu-pro-container.push-right, #responsive-menu-pro-container.slide-right {
		transform: translateX(100%);
		-ms-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
	}
	.mobile-box .responsive-menu-pro-open #responsive-menu-pro-container.push-right, .responsive-menu-pro-open #responsive-menu-pro-container.slide-right {
		transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
	}
	.mobile-box #responsive-menu-pro-container.push-bottom, #responsive-menu-pro-container.slide-bottom {
		transform: translateY(100%);
		-ms-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
	}
	.mobile-box .responsive-menu-pro-open #responsive-menu-pro-container.push-bottom, .responsive-menu-pro-open #responsive-menu-pro-container.slide-bottom {
		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	}
	.mobile-box #responsive-menu-pro-container, #responsive-menu-pro-container:before, #responsive-menu-pro-container:after, #responsive-menu-pro-container *, #responsive-menu-pro-container *:before, #responsive-menu-pro-container *:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-search-box, #responsive-menu-pro-container #responsive-menu-pro-additional-content, #responsive-menu-pro-container #responsive-menu-pro-title {
		padding: 25px 5%;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro, #responsive-menu-pro-container #responsive-menu-pro ul {
		width: 100%;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu {
		display: none;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu.responsive-menu-pro-submenu-open {
		display: block;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu-depth-1 a.responsive-menu-pro-item-link {
		padding-left: 10%;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu-depth-2 a.responsive-menu-pro-item-link {
		padding-left: 15%;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu-depth-3 a.responsive-menu-pro-item-link {
		padding-left: 20%;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu-depth-4 a.responsive-menu-pro-item-link {
		padding-left: 25%;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu-depth-5 a.responsive-menu-pro-item-link {
		padding-left: 30%;
	}
	.mobile-box #responsive-menu-pro-container li.responsive-menu-pro-item {
		width: 100%;
		list-style: none;
	}
	.mobile-box #responsive-menu-pro-container li.responsive-menu-pro-item a {
		width: 100%;
		display: block;
		text-decoration: none;
		position: relative;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a {
		padding: 0 5%;
	}
	.mobile-box #responsive-menu-pro-container .responsive-menu-pro-submenu li.responsive-menu-pro-item a {
		padding-left: 45px !important;
		padding-right: unset !important;
	}
	.mobile-box #responsive-menu-pro-container li.responsive-menu-pro-item a .glyphicon, #responsive-menu-pro-container li.responsive-menu-pro-item a .fab, #responsive-menu-pro-container li.responsive-menu-pro-item a .fas {
		margin-right: 15px;
	}
	.mobile-box #responsive-menu-pro-container li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
		position: absolute;
		top: 0;
		bottom: 0;
		text-align: center;
		overflow: hidden;
	}
	.mobile-box #responsive-menu-pro-container li.responsive-menu-pro-item a .responsive-menu-pro-subarrow .glyphicon, #responsive-menu-pro-container li.responsive-menu-pro-item a .responsive-menu-pro-subarrow .fab, #responsive-menu-pro-container li.responsive-menu-pro-item a .responsive-menu-pro-subarrow .fas {
		margin-right: 0;
	}
	.mobile-box button#responsive-menu-pro-button .responsive-menu-pro-button-icon-inactive {
		display: none;
	}
	.mobile-box button#responsive-menu-pro-button {
		z-index: 99999;
		display: none;
		overflow: hidden;
		outline: none;
	}
	.mobile-box button#responsive-menu-pro-button img {
		max-width: 100%;
	}
	.mobile-box .responsive-menu-pro-label {
		display: inline-block;
		font-weight: 600;
		margin: 0 5px;
		vertical-align: middle;
		pointer-events: none;
		font-family: "Open Sans", sans-serif;
	}
	.mobile-box .responsive-menu-pro-accessible {
		display: inline-block;
	}
	.mobile-box .responsive-menu-pro-accessible .responsive-menu-pro-box {
		display: inline-block;
		vertical-align: middle;
	}
	.mobile-box .responsive-menu-pro-label.responsive-menu-pro-label-top, .responsive-menu-pro-label.responsive-menu-pro-label-bottom {
		display: block;
		margin: 0 auto;
	}
	.mobile-box button#responsive-menu-pro-button {
		padding: 0 0;
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		font-family: "Open Sans", sans-serif;
	}
	.mobile-box .responsive-menu-pro-box {
		width: 25px;
		height: 20px;
		display: inline-block;
		position: relative;
	}
	.mobile-box .responsive-menu-pro-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
	}
	.mobile-box .responsive-menu-pro-inner, .mobile-box .responsive-menu-pro-inner::before, .mobile-box .responsive-menu-pro-inner::after {
		width: 25px;
		height: 4px;
		background-color: rgba(0, 0, 0, 1);
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}
	.mobile-box .responsive-menu-pro-open .responsive-menu-pro-inner, .mobile-box .responsive-menu-pro-open .mobile-box .responsive-menu-pro-inner::before, .mobile-box .responsive-menu-pro-open .mobile-box .responsive-menu-pro-inner::after {
		background-color: rgba(0, 0, 0, 1);
	}
	button#responsive-menu-pro-button:hover .responsive-menu-pro-inner, button#responsive-menu-pro-button:hover .responsive-menu-pro-inner::before, button#responsive-menu-pro-button:hover .responsive-menu-pro-inner::after, button#responsive-menu-pro-button:hover .responsive-menu-pro-open .responsive-menu-pro-inner, button#responsive-menu-pro-button:hover .responsive-menu-pro-open .responsive-menu-pro-inner::before, button#responsive-menu-pro-button:hover .responsive-menu-pro-open .responsive-menu-pro-inner::after, button#responsive-menu-pro-button:focus .responsive-menu-pro-inner, button#responsive-menu-pro-button:focus .responsive-menu-pro-inner::before, button#responsive-menu-pro-button:focus .responsive-menu-pro-inner::after, button#responsive-menu-pro-button:focus .responsive-menu-pro-open .responsive-menu-pro-inner, button#responsive-menu-pro-button:focus .responsive-menu-pro-open .responsive-menu-pro-inner::before, button#responsive-menu-pro-button:focus .responsive-menu-pro-open .responsive-menu-pro-inner::after {
		background-color: rgba(190, 197, 201, 1);
	}
	.mobile-box .responsive-menu-pro-inner::before, .mobile-box .responsive-menu-pro-inner::after {
		content: "";
		display: block;
	}
	.mobile-box .responsive-menu-pro-inner::before {
		top: -8px;
	}
	.mobile-box .responsive-menu-pro-inner::after {
		bottom: -8px;
	}
	.mobile-box .responsive-menu-pro-stand .responsive-menu-pro-inner {
		transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
	}
	.mobile-box .responsive-menu-pro-stand .responsive-menu-pro-inner::before {
		transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	.mobile-box .responsive-menu-pro-stand .responsive-menu-pro-inner::after {
		transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	.mobile-box button#responsive-menu-pro-button.responsive-menu-pro-stand.is-active:hover .responsive-menu-pro-inner, .responsive-menu-pro-stand.is-active .responsive-menu-pro-inner {
		transform: rotate(90deg);
		background-color: transparent;
		transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
	}
	.mobile-box .responsive-menu-pro-stand.is-active .responsive-menu-pro-inner::before {
		top: 0;
		transform: rotate(-45deg);
		transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.mobile-box .responsive-menu-pro-stand.is-active .responsive-menu-pro-inner::after {
		bottom: 0;
		transform: rotate(45deg);
		transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.mobile-box button#responsive-menu-pro-button {
		width: 55px;
		height: 37px;
		position: absolute;
		top: 20px;
		left: 30%;
		display: inline-block;
		transition: transform 0.5s, background-color 0.5s;
	}
	.mobile-box button#responsive-menu-pro-button .responsive-menu-pro-box {
		color: rgba(0, 0, 0, 1);
		pointer-events: none;
	}
	.mobile-box .responsive-menu-pro-open button#responsive-menu-pro-button .responsive-menu-pro-box {
		color: rgba(0, 0, 0, 1);
	}
	.mobile-box .responsive-menu-pro-label {
		color: #ffffff;
		font-size: 14px;
		line-height: 13px;
		pointer-events: none;
		font-family: "Open Sans", sans-serif;
	}
	.mobile-box .responsive-menu-pro-label .responsive-menu-pro-button-text-open {
		display: none;
	}
	.mobile-box html.responsive-menu-pro-open {
		cursor: pointer;
	}
	.mobile-box html.responsive-menu-pro-open #responsive-menu-pro-container {
		cursor: initial;
	}
	.mobile-box .responsive-menu-pro-fade-top #responsive-menu-pro-container, .mobile-box .responsive-menu-pro-fade-left #responsive-menu-pro-container, .mobile-box .responsive-menu-pro-fade-right #responsive-menu-pro-container, .mobile-box .responsive-menu-pro-fade-bottom #responsive-menu-pro-container {
		display: none;
	}
	.mobile-box #responsive-menu-pro-container {
		width: 100%;
		left: 0;
		transition: transform 0.5s;
		text-align: left;
		max-width: 100%;
		min-width: 100%;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-wrapper {
		background: #5a4099;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-additional-content {
		color: #ffffff;
	}
	.mobile-box #responsive-menu-pro-container .responsive-menu-pro-search-box {
		background: #ffffff;
		border: 2px solid #dadada;
		color: #333333;
	}
	.mobile-box #responsive-menu-pro-container .responsive-menu-pro-search-box:-ms-input-placeholder {
		color: #c7c7cd;
	}
	.mobile-box #responsive-menu-pro-container .responsive-menu-pro-search-box::-webkit-input-placeholder {
		color: #c7c7cd;
	}
	.mobile-box #responsive-menu-pro-container .responsive-menu-pro-search-box:-moz-placeholder {
		color: #c7c7cd;
		opacity: 1;
	}
	.mobile-box #responsive-menu-pro-container .responsive-menu-pro-search-box::-moz-placeholder {
		color: #c7c7cd;
		opacity: 1;

	}
	.mobile-box #responsive-menu-pro-container .responsive-menu-pro-item-link, #responsive-menu-pro-container #responsive-menu-pro-title, #responsive-menu-pro-container .responsive-menu-pro-subarrow {
		transition: background-color 0.5s, border-color 0.5s, color 0.5s;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-title {
		background-color: #5a4099;
		color: #ffffff;
		font-size: 13px;
		text-align: left;
		font-family: "Open Sans", sans-serif;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-title a {
		color: #ffffff;
		font-size: 13px;
		text-decoration: none;
		font-family: "Open Sans", sans-serif;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-title a:hover {
		color: #ffffff;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-title:hover {
		background-color: #3e2774;
		color: #ffffff;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-title:hover a {
		color: #ffffff;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-title #responsive-menu-pro-title-image {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		margin-bottom: 15px;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro-title #responsive-menu-pro-title-image img {
		max-width: 100%;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro>li.responsive-menu-pro-item:first-child>a {
		border-top: 1px solid rgba(51, 51, 51, 1);
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item .responsive-menu-pro-item-link {
		font-size: 16px;
		font-family: "Open Sans", sans-serif;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a {
		line-height: 40px;
		border-bottom: 1px solid rgba(51, 51, 51, 1);
		color: #ffffff;
		background-color: #5a4099;
		height: 40px;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a:hover, #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a:focus {
		color: #ffffff;
		background-color: #6144a3;
		border-color: rgba(33, 33, 33, 1);
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a:hover .responsive-menu-pro-subarrow, #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a:focus .responsive-menu-pro-subarrow {
		color: #ffffff;
		border-color: #5a4099;
		background-color: #5a4099;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a:hover .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active, #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a:focus .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active {
		color: #ffffff;
		border-color: #3f3f3f;
		background-color: #5a4099;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
		right: 0;
		height: 40px;
		line-height: 40px;
		width: 40px;
		color: #ffffff;
		border-left: 1px solid #212121;
		background-color: #212121;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active {
		color: #ffffff;
		border-color: #212121;
		background-color: #3e2774;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active:hover, #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active:focus {
		color: #ffffff;
		border-color: #ffffff;
		background-color: #6144a3
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow:hover, #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow:focus {
		color: #ffffff;
		border-color: #ffffff;
		background-color: #6144a3;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item.responsive-menu-pro-current-item>.responsive-menu-pro-item-link {
		background-color: #212121;
		color: #ffffff;
		border-color: rgba(33, 33, 33, 1);
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item.responsive-menu-pro-current-item>.responsive-menu-pro-item-link:hover {
		background-color: #6144a3;
		color: #ffffff;
		border-color: #3e2774;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item .responsive-menu-pro-item-link {
		font-size: 16px;
		text-align: left;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a {
		height: 40px;
		line-height: 40px;
		border-bottom: 1px solid #212121;
		color: #ffffff;
		background-color: #3e2774;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a:hover, .mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a:focus {
		color: rgba(255, 255, 255, 1);
		background-color: rgba(90, 70, 138, 1);
		border-color: #3e2774;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a:hover .responsive-menu-pro-subarrow {
		color: #ffffff;
		border-color: #3f3f3f;
		background-color: #3e2774;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a:hover .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active {
		color: #ffffff;
		border-color: #3f3f3f;
		background-color: #5a468a;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
		left: 0;
		right: unset;
		height: 40px;
		line-height: 40px;
		width: 40px;
		color: #ffffff;
		border-right: 1px solid #212121;
		border-left: unset;
		background-color: #3e2774;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active {
		color: #ffffff;
		border-color: #212121;
		background-color: #3e2774;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active:hover {
		color: #ffffff;
		border-color: #3f3f3f;
		background-color: #6144a3
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow:hover {
		color: #ffffff;
		border-color: #3f3f3f;
		background-color: #6144a3;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item.responsive-menu-pro-current-item>.responsive-menu-pro-item-link {
		background-color: #212121;
		color: rgba(255, 255, 255, 1);
		border-color: #3e2774;
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item.responsive-menu-pro-current-item>.responsive-menu-pro-item-link:hover {
		background-color: #6144a3;
		color: #ffffff;
		border-color: #3f3f3f;}
	}
#responsive-menu-pro-container.responsive-menu-pro-no-transition {
	transition: none;
}
#responsive-menu-pro .responsive-menu-pro-desktop-menu-image, #responsive-menu-pro .responsive-menu-pro-desktop-menu-text {
	display: none;
}
@media screen and (min-width:472px) {
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-1, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-2, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-3, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-4, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-5, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-6, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-7, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-8, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-9, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-10, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-11, #responsive-menu-pro .responsive-menu-pro-desktop-menu-col-12 {
		min-height: 1px;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-12 {
		width: 100%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-11 {
		width: 91.66666667%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-10 {
		width: 83.33333333%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-9 {
		width: 75%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-8 {
		width: 66.66666667%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-7 {
		width: 58.33333333%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-6 {
		width: 50%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-5 {
		width: 41.66666667%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-4 {
		width: 33.33333333%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-3 {
		width: 25%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-2 {
		width: 16.66666667%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-col-1 {
		width: 8.33333333%;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-image {
		max-width: 100%;
	}
	#responsive-menu-pro-container div {
		display: none;
	}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-image, #responsive-menu-pro .responsive-menu-pro-desktop-menu-text, #responsive-menu-pro-container #responsive-menu-pro-wrapper, #responsive-menu-pro-container #responsive-menu-pro, #responsive-menu-pro-container {
		display: block;
	}
	#responsive-menu-pro {
		list-style-type: none;
		position: relative;
		margin: 0;
	}
	#responsive-menu-pro li .responsive-menu-pro-desktop-menu-text {
		white-space: normal;
	}
	#responsive-menu-pro li {
		box-sizing: border-box;
		display: inline-block;
		white-space: nowrap;
		margin: 0;
		vertical-align: top;
		text-align: left;
	}
	#responsive-menu-pro li a {
		height: 80px;
		line-height: 80px;
		color: #000000;
		background: #ffffff;
		text-decoration: none;
		transition: color 0.5s, background 0.5s;
		display: block;
		padding: 0 15px;
		font-size: 14px;
		font-family: "Open Sans", sans-serif;
	}
	#responsive-menu-pro li a .glyphicon, #responsive-menu-pro li a .fab, #responsive-menu-pro li a .fas {
		margin-right: 5px;
	}
	#responsive-menu-pro li a:hover, #responsive-menu-pro li a:focus {
		color: #000000;
		background: #ffffff;
	}
	#responsive-menu-pro li .responsive-menu-pro-submenu {
		display: none;
		position: absolute;
		margin: 0;
		top: 80px;
		padding-left: 0;
		margin-left: 0;
	}
	#responsive-menu-pro li .responsive-menu-pro-submenu:not(.responsive-menu-pro-desktop-menu-container) li {
		display: block;
		width: 100%;
		position: relative;
	}
	#responsive-menu-pro li .responsive-menu-pro-submenu li a {
		background: #ffffff;
		color: #000000;
		font-size: 12px;
		font-family: "Open Sans", sans-serif;
		height: auto;
		line-height: 40px;
	}
	#responsive-menu-pro li .responsive-menu-pro-submenu li a:hover, #responsive-menu-pro li .responsive-menu-pro-submenu li a:focus {
		color: #000000;
		background: #ffffff;
	}
	#responsive-menu-pro li .responsive-menu-pro-submenu li a .responsive-menu-pro-desktop-menu-text {
		line-height: 12px;
	}
	#responsive-menu-pro li .responsive-menu-pro-submenu li .responsive-menu-pro-submenu {
		top: 0;
		left: 100%;
	}
	#responsive-menu-pro li .responsive-menu-pro-submenu.responsive-menu-pro-desktop-menu-container {
		left: 0;
		width: 100%;
		right: 0;
	}
	#responsive-menu-pro li:hover>.responsive-menu-pro-submenu {
		display: block;
		animation: none 100ms;
	}
	#responsive-menu-pro .responsive-menu-pro-submenu-animate-on {
		animation: none 100ms;
	}
	#responsive-menu-pro .responsive-menu-pro-item-has-children a:after {
		content: "▾";
		font-size: 20px;
		margin: 0 0 0 6px;
		vertical-align: top;
		transform: rotate(0);
		font-family: "Open Sans", sans-serif;
	}
	#responsive-menu-pro .responsive-menu-pro-item-has-children ul:not(.responsive-menu-pro-desktop-menu-container) a:after {
		content: '▸';
	}
	#responsive-menu-pro .responsive-menu-pro-item-has-children ul.responsive-menu-pro-desktop-menu-container li a:after, #responsive-menu-pro .responsive-menu-pro-item-has-children ul:not(.responsive-menu-pro-desktop-menu-container) li:not(.responsive-menu-pro-item-has-children) a:after {
		content: '';
	}
	#responsive-menu-pro li .responsive-menu-pro-submenu.responsive-menu-pro-desktop-menu-container ul.responsive-menu-pro-submenu-depth-2, #responsive-menu-pro li .responsive-menu-pro-submenu.responsive-menu-pro-desktop-menu-container ul.responsive-menu-pro-submenu-depth-3, #responsive-menu-pro li .responsive-menu-pro-submenu.responsive-menu-pro-desktop-menu-container ul.responsive-menu-pro-submenu-depth-4 {
		display: block;
		position: relative;
		left: auto;
		top: auto;
	}
	#responsive-menu-pro-container {
		position: fixed;
		top: 0;
	}
	#responsive-menu-pro-container #responsive-menu-pro-item-103899 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-103899 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-114868 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-114868 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-101482 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-101482 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-104637 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-104637 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102043 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102043 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102044 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102044 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102045 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102045 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102046 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102046 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-113912 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-113912 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-101483 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-101483 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102047 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102047 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102048 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102048 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102049 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102049 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102050 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102050 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-101484 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-101484 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102051 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102051 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102052 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102052 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102053 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102053 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-102054 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-102054 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-109152 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-109152 li a {}
	#responsive-menu-pro-container #responsive-menu-pro-item-109154 .responsive-menu-pro-submenu-depth-1 {}
	#responsive-menu-pro li#responsive-menu-pro-item-109154 li a {}
	#responsive-menu-pro .responsive-menu-pro-desktop-menu-text {
		padding: 0 15px;
	}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-103899 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-114868 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-101482 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-104637 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102043 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102044 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102045 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102046 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-113912 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-101483 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102047 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102048 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102049 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102050 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-101484 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102051 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102052 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102053 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-102054 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-109152 {}
	#responsive-menu-pro-container .responsive-menu-pro-desktop-menu-container #responsive-menu-pro-item-109154 {}
}
button#responsive-menu-pro-button {
	width: 55px;
	height: 37px;
	position: absolute;
	top: 0px;
	left: 0%;
	display: inline-block;
	transition: transform 0.5s, background-color 0.5s;
}
@media screen and (max-width:471px) {
	.bbu .responsive-menu-pro-fade-top #responsive-menu-pro-container, .bbu .responsive-menu-pro-fade-left #responsive-menu-pro-container, .bbu .responsive-menu-pro-fade-right #responsive-menu-pro-container, .bbu .responsive-menu-pro-fade-bottom #responsive-menu-pro-container {
		display: inline;
	}
}
/******State Menu******/

/*hide menu and mobile responsively*/

@media handheld, only screen and (min-width: 472px) {
	.mobile-box {
		display: none!important
	}
}
@media handheld, only screen and (max-width: 471px) {
	.state-box {
		display: none!important
	}
}
/*remove hamburger menu*/

.state-container#responsive-menu-pro-button {
	display: none!important
}
/*remove state button responsively*/

@media (max-width: 684px) {
	.state-box .menu-button {
		display: none!important
	}
}
@media (max-width: 684px) {
	.mobile-box .menu-button {
		display: none!important
	}
}
@media screen and (max-width: 561px) {
	.state-box #responsive-menu-pro li a {
		padding: 0 5px 0px 1.5vw
	}
}
/*admin bar*/

.admin-bar #main-wrapper .state-box {
	top: 32px!important;
}
.admin-bar #main-wrapper .mobile-box {
	top: 45px
}
#main-wrapper .state-box {
	position: sticky;
	height: auto;
	top: 0;
	left: 0;
	z-index: 99!important;
	margin-top: 25px;
}
#main-wrapper .mobile-box {
	position: sticky;
	height: auto;
	top: 0;
	left: 0;
	z-index: 9!important
}
.state-box .state-container #responsive-menu-pro {
	background-color: #5A3F98!important;
}
.mobile-box .state-container #responsive-menu-pro {
	background-color: #5A3F98!important;
}
.state-bar #responsive-menu-pro-container {
	background-color: #5A3F98!important;
}
.state-box #responsive-menu-pro li a {
	color: rgb(255, 255, 255);
	background: rgba(90, 63, 152, 0);
	height: 62px;
}
.mobile-box #responsive-menu-pro li a {
	color: rgb(255, 255, 255);
	background: rgba(90, 63, 152, 0);
	height: 62px;
}
.state-box #responsive-menu-pro li a:hover {
	background-color: rgba(90, 63, 152, 0);
	color: #cccee0;
}
.mobile-box #responsive-menu-pro li a:hover {
	background-color: rgba(90, 63, 152, 0);
	color: #cccee0;
}
.state-box #responsive-menu-pro li .responsive-menu-pro-submenu li a:hover {
	color: #9396CA!important
}
.mobile-box #responsive-menu-pro li .responsive-menu-pro-submenu li a:hover {
	color: #9396CA!important
}
@media screen and (max-width: 693px) {
	responsive-menu-pro-open button#responsive-menu-pro-button .responsive-menu-pro-box {
		color: #ffffff
	}
}
@media screen and (min-width: 694px) {
	#responsive-menu-pro-container #responsive-menu-pro {
		display: block!important
	}
}
.state-title {
	font-weight: bold;
	font-size: 3em!important;
	font-family: "Open Sans", sans-serif;
}
.state-box #responsive-menu-pro li a {
	line-height: 63px
}
.mobile-box #responsive-menu-pro li a {
	line-height: 63px;
}
.state-box #responsive-menu-pro-container #responsive-menu-pro {
	float: none!important;
	text-align: center;
}
.mobile-box #responsive-menu-pro-container #responsive-menu-pro {
	float: none!important;
	text-align: center;
}
.state-box #responsive-menu-pro li a {
	color: rgb(255, 255, 255)!important
}
.mobile-box #responsive-menu-pro li a {
	color: rgb(255, 255, 255)!important
}
.state-box #responsive-menu-pro li .responsive-menu-pro-submenu {
	top: 62px!important
}
.mobile-box #responsive-menu-pro li .responsive-menu-pro-submenu {
	top: 62px!important
}
/*donate*/

.state-box .menu-button {
	height: 44px;
	border: solid 2px #ffffff;
	transition: all .2s ease-in-out;
	margin-left: 15px!important;
	margin-top: 9px!important;
}
.state-box #responsive-menu-pro li.menu-button a {
	margin-top: -10px!important
}
.state-box .menu-button:hover {
	border: solid 2px #9396CA;
	opacity: 1.0;
	background: #9396CA;
}
/*sticky menu*/

.state-box #header-inner.stuck {
	display: none;
	border-bottom-width: 0px!important;
}
.state-box #sticky-logo {
	display: none
}
.state-box  #header-inner.stuck {
	display: none;
}
body.admin-bar #header-inner.stuck {
display:none!important;
}
/*post menu*/

.state-box #header-inner.stuck #header-inner-bg {
	display: none!important
}
/*sub menu*/

.state-box #responsive-menu-pro li .responsive-menu-pro-submenu li a {
	color: #555!important;
	font-size: 14px;
	font-weight: 600;
	width: 100%;
	font-family: "Open Sans", sans-serif;
}
.mobile-box #responsive-menu-pro li .responsive-menu-pro-submenu li a {
	color: #555!important;
	font-size: 14px;
	font-weight: 600;
	width: 100%;
	font-family: "Open Sans", sans-serif;
}
.state-container #responsive-menu-pro {
	background-color: #5A3F98!important;
}
/*state mobile*/

@media screen and (max-width: 471px) {
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
		right: 95px;
		height: 37px;
		line-height: 39px;
		background-color: transparent!important;
		border-left: solid 0px
	}
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
		right: 0;
		left: unset;
	}
	.mobile-box .responsive-menu-pro-fade-left #responsive-menu-pro-container {
		display: inline;
	}
}
/****custom****/

button#responsive-menu-pro-button {
	width: 55px;
	height: 37px;
	position: absolute;
	top: 0px;
	left: 0%;
	display: inline-block;
	transition: transform 0.5s, background-color 0.5s;
}

/*State Menu Responsive*/

.state-container #responsive-menu-pro-button {
	display: none!important
}
@media screen and (max-width: 471px) {
	.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a {
		border-bottom: 1px solid rgba(204, 206, 224, 0.5);
		background-color: #5A3F98;
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item.responsive-menu-pro-current-item>.responsive-menu-pro-item-link:hover {
			color: #ffffff;
			border-color: #ffffff;
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item.responsive-menu-pro-current-item>.responsive-menu-pro-item-link {
			background-color: #4c3287!important;
			border-color: rgba(204, 206, 224, 0.5);
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro li .responsive-menu-pro-submenu li a {
			color: #ffffff!important;
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
			border-left: 1px solid #62499d;
			background-color: #62499d;
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow:hover {
			border-color: #3e2774;
			background-color: #3e2774;
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow.responsive-menu-pro-subarrow-active:focus {
			color: #ffffff;
			border-color: #5a3f98;
			background-color: #5a3f98;
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro {
			text-align: center!important;
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a {
			background-color: #6a52a2;
			color: #ffffff!important;
			border-bottom: 0px solid #cccee0;
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a:hover {
			background-color: rgba(204, 206, 224, 0.3);
			border-color: #cccee0;
		}
	}
	@media screen and (max-width: 461px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a {
			padding: 0 12%;
		}
	}
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container .responsive-menu-pro-submenu li.responsive-menu-pro-item a {
			padding-left: 0px !important;
			text-align: center!important;
			padding-right: 0px!important;
		}
	}
	/*state mobile*/
	@media screen and (max-width: 471px) {
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
			right: 0;
			height: 37px;
			line-height: 39px;
			background-color: transparent!important;
			border-left: solid 0px;
			width: 65%
		}
		.mobile-box #responsive-menu-pro-container #responsive-menu-pro ul.responsive-menu-pro-submenu li.responsive-menu-pro-item a .responsive-menu-pro-subarrow {
			right: 0;
			left: unset;
		}
		.mobile-box .responsive-menu-pro-fade-left #responsive-menu-pro-container {
			display: inline;
		}
	}
	@media screen and (max-width:471px) {
		.mobile-box #responsive-menu-pro-container {
			display: inline;}
	}
	
	